.spinner {
  font-size: 140px;
  margin: 0;
  padding: 0;
  display: inline-block;
  animation: spin 2s linear infinite;
}

.spinner:after {
  content: '◌';
}

@keyframes spin {
  0% { transform:rotate(0deg); }
  100% { transform:rotate(360deg); }
}

#chart {
  border: 1px solid black;
}

.hide {
  display: none;
}